<script type="text/x-handlebars">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Hello Ember.js</h1>
        {{ outlet }}
      </div>
    </div>
  </div>
</script>
