<div class="row">
  <div class="span4">
    <ul class="nav nav-pills">
      {{#linkTo 'posts.new' tagName='li'}}<a {{bindAttr href="view.href"}} href="#">New Post</a>{{/linkTo}}
    </ul>

    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
        </tr>
      </thead>
      <tbody>
        {{#each post in arrangedContent}}
        <tr>
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <td>{{#linkTo "post.edit" post}}Edit{{/linkTo}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="span8">
  	{{outlet}}
  </div>
</div>